packages/
.csproj.user
*.user
bin
obj
*.suo
*.opendb
*.db
*.nupkg
Release/
Debug/
.vs/config/applicationhost.config
.vs/
ViewGenerator/tools/dist/
*.js
ReactViewResources/node_modules/
*.tgz
ViewGenerator/tools/node_modules/
*.css
*.scss.d.ts
ViewGeneratorCore/tools/node_modules/
ViewGenerator/declarations/
manifest.json
ViewGenerator/contentFiles/node_modules/@types/
ViewGenerator/contentFiles/node_modules/
ViewPacker/tools/node_modules/
!ReactViewResources/AMDLoader/AMDLoaderExports.js
Tests.ReactView/.wpcache/
Tests.ReactView/Generated/
Tests.ReactView/node_modules/
Tests.ReactView/*.cache
Tests.ReactView/global.d.ts
ReactViewControl/cake_tools
ReactViewControl.Avalonia/cake_tools
ReactViewResources/cake_tools
WebViewControl/cake_tools
WebViewControl.Avalonia/cake_tools
ViewGenerator/cake_tools
ViewGeneratorCore/cake_tools
ViewPacker/cake_tools
launchSettings.json
*.cache
.npm-install-stamp
**/TestResults.xml
.eslintcache
tsconfig.tsbuildinfo
Tests.ReactView/.eslintcache
Sample.Avalonia/global.d.ts
Sample.Avalonia/.wpcache/
Sample.Avalonia/Generated/
Sample.Avalonia/node_modules/
